@font-face {
	font-family: 'economica';
	src: url('/fonts/economica/Economica-Regular.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'economica';
	src: url('/fonts/economica/Economica-Bold.ttf');
	font-weight: bold;
	font-display: swap;
}

:root {
	--color-white: #fff;
	--color-black: #000;
	--color-primary: rgb(190, 55, 40);
	--color-secondary: #BA5936;
	--color-accent: rgb(246, 166, 81);
	--color-darken: rgba(0, 0, 0, 0.05);

	--spacing-xs: 4px;
	--spacing-sm: 8px;
	--spacing-md: 16px;
	--spacing-lg: 32px;
	--spacing-xl: 64px;

	--max-page-width: 1000px;
}

html, body {
	padding: 0;
	margin: 0;
}

* {
	font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}

section {
	line-height: 1.777;
	font-size: 1.125rem;
}

h1, h2 {
	font-family: economica, sans-serif;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}
